<!-- templates/polls/vote_form.html -->
{% extends "layout/main_layout.html" %}
{% block title %}설문 폼{% endblock title %}
{% block contents %} 
<h1>설문 폼</h1>

{% if error_message %}
    <div style="color: red; font-weight: bold;">
        {{error_message}}
    </div>
{% endif %}

<b>질문: {{question.pk}}. {{question.question_text}}</b>
<form action="{% url 'polls:vote' %}" method="post" class="mt-3">
    <!-- question_id를 hidden 전달(화면상에 감춤) -->
    <input type="hidden" name="question_id" value="{{question.pk}}"> 

    {# post 방식 요청일 때 필수(CSRF 공격을 막기 위한 보안 관련 토큰 생성) #}
    {% csrf_token %} 
    {% for choice in choice_list %}
        <label>
            <input type="radio" name="choice" value="{{choice.pk}}">
            {{choice.choice_text}}
        </label><br>
    {% endfor %}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">투표</button>
        <button type="reset" class="btn btn-primary">선택 해제</button>
    </div>
</form>
{% endblock contents %} 