{% extends "layout/main_layout.html" %}
{% block title %}질문 목록{% endblock title %}
{% block contents %} 
<h1>설문 질문 목록</h1>
<ul class="list-group">
    {# question_list: QuerySet[Question] - Iterable #}
    {% for question in question_list %}
        <li class="list-group-item list-group-item-action">
            <!-- <a href="/polls/vote_form/{{question.pk}}"> -->
            <a href="{% url 'polls:vote_form' question.pk %}" class="btn">
                {{question.pk}}. {{question.question_text | truncatewords:3}}
                {{question.pub_date | date:'Y-m-d'}}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock contents %}
