<!-- templates/polls/vote_list.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설문 목록</title>
</head>
<body>
    <h1>설문 질문 목록</h1>
    <ul>
        {# question_list: QuerySet[Question] - Iterable #}
        {% for question in question_list %}
            <li>
                <a href="/polls/vote_form/{{question.pk}}">
                    {{question.pk}}. {{question.question_text}}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>