{% extends 'layout/main_layout.html' %}

{# 사용자 정의 template 태그들을 사용하기 위해선 load 필요 #}
{% load django_bootstrap5 %}
{% block title %}가입{% endblock title %}

{% block contents %}
<h1>가입</h1>
<!-- 파일 업로드가 있는 form: enctype 설정 -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <input type="file" name="f1"><br>
    <input type="file" name="f2"><br>
    <input type="file" name="f3" class="form-control"> -->

    {#{form}#}
    {% bootstrap_form  form %}

    <div id="btn-layer" class="mt-3">
        <button type="submit" class="btn btn-primary">가입</button>
        <button type="reset" class="btn btn-primary">초기화</button>
    </div>

</form>
{% endblock contents %}